.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    justify-items: center;
    grid-gap: 10px;
    grid-row-gap: 10px;
}

.image-grid-box {

}

.image-grid-box img {
    width: 100%;
    height: 100%;

}