.product-card-container {
    background: var(--etblack);
    color: var(--etwhite);
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

.product-card-container p {
    padding: 10px;
}