.news-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: var(--etwhite);
    text-align: left;
}

.news-page-container h1 {
    margin-top: 2rem;
}
.news-page-wrapper
{
    background: var(--etblack);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-top: 5rem;
}

.news-page-wrapper p {
    padding: 0 1rem;
    white-space: pre-wrap;
}

.news-caption {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--etgray);
}

.news-headline{
    font-family: 'Rubik', sans-serif;
    color: var(--etwhite);
    font-size: 2rem;
    padding-left: 10px;
}

.news-content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
}

@media (min-width: 700px)
{
    .news-page-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (min-width: 1200px)
{
    .news-page-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

@media (min-width: 1500px)
{
    .news-page-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}