.product-container {
   margin-top: 10rem;
}

.product-container h1 {
    padding-bottom: 5rem;
}

.product-image {
    display: flex;
    justify-content: center;
}

@media (min-width: 700px) {
    .product-wrapper {
        margin: 0 5rem;

    }

    .product-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
    }


}

@media (min-width: 1500px) {
    .product-wrapper {
        margin: 0 12rem;

    }

    .product-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }


}

@media (min-width: 1800px) {
    .product-wrapper {
        margin: 0 22rem;

    }


}