.main-nav{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: var(--etblack);
    height: auto;
    margin-top: 0;
    text-align: center;
}

.main-nav-logo {
    max-width: 100%;
    height: auto;
    padding-left: 20px;
}

.main-nav ul {
    text-align: center;
    width: 100%;
    padding: 0;
    list-style: none;

}

.main-nav li {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;

}

.main-nav a {
    display: block;
    color: var(--etwhite);
    text-decoration: none;
    width: 100%;
}

.main-nav a:hover {
    background-color: var(--etwhite);
    color: var(--etblack);
    width: 100%;

}