.meet-our-team-wrapper {

 }

@media (min-width: 700px)
{
    .meet-our-team-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 10px;
    }
}

@media (min-width: 1200px)
{
    .meet-our-team-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}