.us-state-container {
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}

.us-state-container h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.us-state-container li {
    list-style: none;
    text-align: left;
}

.us-state-container a {
    text-decoration: none;
    color: #20242C;

}

.us-state-container a:visited {
    text-decoration: none;
    color: #20242C;

}

.us-state-container h3 a:visited{
    color: #FF910E;
}


.us-state-image-container {
    width: 100%;

}

.us-state-image {
}


@media (min-width: 700px)
{
    .us-state-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*.image-box-container {*/
    /*display: grid;*/
    /*grid-gap: 10px;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*margin-top: 2rem;*/

/*}*/

/*.image-box {*/
    /*width: 183px;*/
    /*height: 183px;*/
    /*margin: 5px 3px;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: var(--etblack);*/
    /*margin-bottom: 4rem;*/
/*}*/

/*@media (min-width: 700px)*/
/*{*/
    /*.image-box-container {*/
        /*grid-template-columns: 1fr 1fr 1fr;*/

    /*}*/
/*}*/

/*@media (min-width: 1000px)*/
/*{*/
    /*.image-box-container {*/
        /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
    /*}*/
    /*.us-state-image-container {*/
        /*width: 70%;*/

    /*}*/
/*}*/

/*@media (min-width: 1500px)*/
/*{*/
    /*.image-box-container {*/
        /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/

    /*}*/

    /*.us-state-image-container {*/
        /*width: 70%;*/

    /*}*/

/*}*/

