.project-container {
    margin-top: 14rem;
}

.project-container h1 {
    padding-bottom: 5rem;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 700px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 1000px) {
    .project-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1500px) {
    .project-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}